/*
* === CLASSES ===
    * .header
    * .input
        ** .input-el
        ** .input-btn
    * .results
        ** .results-item
            *** .results-img
            *** .results-icon
            *** .results-text
                **** .results-text-light
    * .aside
        ** aside.btn

* === COLORS ===
#284476ff
#358ca8ff
#e4ecb9ff
*/
html, body{
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center{
    text-align: center;
}

.cursive{
    font-family: 'Pacifico';
}

.text-lg{
    font-size: 1.5em;
}
.sans-serif{
    font-family: 'Quicksand';
}

.bg-white-trans{
    background-color: rgba(255, 255, 255, 0.5);
}

.input{
    height: 100px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container{
    display: flex;
    align-items: stretch;
}

input[type="text"]{
    margin: 0;
    border: none;
    padding: 2px;
    line-height: 2.5em;
    background-color:#e4ecb9ff;
    border: solid 5px #e4ecb9ff;
    color: #284476ff;
}

input[type="text"]:focus{
    border: none;
    border: solid 5px rgba(53, 139, 168, 0.582);
    outline: none;
}

.input-btn {
    height: 100%; 
    width: 100px;
    padding: 5px;
    background-color: #358ca8ff;
    border: none;
    color: #fff;
    font-size: 1.5em
}

.input-btn:hover{
    background-color: #284476ff;
    cursor: pointer;
}

.aside{
    width: 20%;
    margin-right: 20px;
    float: right;
    display: flex;
    flex-direction: column;
}

.aside-btn{
    margin: 5px;
    padding: 5px;
    background-color: #358ca8ff;
    border: none;
    color: #fff;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 1.1em;
}

.aside-btn:hover{
    background-color: #284476ff;
    cursor: pointer;
}

/*masonry*/

#results{
    float: left;
    width: 75%;
    margin-left: 20px;
}
.grid-sizer, .grid-item{
    float: left;
    width: 25%;
}


/*AddCard elements*/

.result-item{
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.result-img{
    width: 100%;
}

.result-text{
    padding: 3px;
    font-family: 'Quicksand';
    margin-top: 2px;
    margin-bottom: 2px;
}

#topics{
    height: 600px;
    overflow-y: auto;
    float: right;
    width: 20%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}



footer {
    color: rgba(255,255,255,0.5);
    width: 100%;
    position: fixed;
    bottom: 0px;
    float: left;
}

footer a {
    color: rgba(255,255,255,0.5);
}